*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:'Poppins', sans-serif;
    color:white;
    background:
    radial-gradient(circle at top,
    #321b74 0%,
    #140a3c 40%,
    #0b0620 100%);
}

h1,h2,h3{
    font-weight:600;
}
#hero{
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:20px;

    background:
    linear-gradient(
    rgba(11,6,32,.8),
    rgba(20,10,60,.9)
    );
   
    position:relative;
    min-height:100vh;

}
#hero h1{
    font-size:3rem;
    font-weight:700;
    margin-bottom:20px;
    max-width:900px;
    margin:0 auto 20px;
}
#hero p{
    max-width:600px;
    margin-bottom:30px;
}
#hero a{
    text-decoration:none;

    background:#6d4cff;

    color:white;

    padding:12px 24px;

    border-radius:8px;

    transition:.3s;
}
.hero-contenido{
    max-width:800px;
    margin:0 auto;
}

#hero a:hover{
    background:#8a6dff;
}
/*#hero::before{
    content:"";

    position:absolute;

    width:500px;
    height:500px;

    background:#6d4cff;

    border-radius:50%;

    filter:blur(180px);

    opacity:.25;

    z-index:-1;
}*/
nav h2{
    color:#b69cff;
    letter-spacing:2px;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
}
#temas{
    padding:100px 10%;
}

#temas h2{
    text-align:center;
    margin-bottom:60px;
    font-size:2.5rem;
}
.tarjetas{
    display:grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px,1fr));

    gap:30px;
}
.tarjeta{
    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,0.1);

    padding:30px;

    border-radius:20px;

    transition:.3s;
        text-decoration:none;
    color:white;
    display:block;
}

.tarjeta:hover{
    transform:translateY(-10px);

    border-color:#8a6dff;

    box-shadow:
    0 0 25px rgba(138,109,255,.4);
}
.tarjeta span{
    font-size:3rem;
    display:block;
    margin-bottom:20px;
}

.tarjeta h3{
    margin-bottom:15px;
}
#sobre{
    padding:100px 10%;
}

.sobre-contenedor{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:50px;
}

.sobre-texto{
    flex:1;
}

.sobre-texto h2{
    font-size:2.5rem;
    margin-bottom:25px;
}

.sobre-texto p{
    line-height:1.8;
    margin-bottom:20px;
}

.sobre-imagen{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;
}

.sobre-imagen img{
    width:100%;
    max-width:750px;

    animation: aparecerCentro 1.2s ease-out;
}

@keyframes aparecerCentro{

    0%{
        transform:scale(.7);
        opacity:0;
    }

    100%{
        transform:scale(1);
        opacity:1;
    }

}

footer{
    padding:60px 20px;

    text-align:center;

    background:rgba(0,0,0,.25);

    margin-top:100px;
}

footer h3{
    margin-bottom:15px;
}

footer p{
    margin-bottom:20px;
    opacity:.8;
}

footer a{
    color:#b69cff;
    text-decoration:none;
}


.youtube-banner{
    min-height:500px;

    background-image:url("img_yt_banner.jpg");
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:100px 0;
    position:relative;
}

.youtube-banner::before{
    content:"";
    position:absolute;
    inset:0;

    background:rgba(0,0,0,.55);
}

.youtube-overlay{
    position:relative;
    z-index:2;

    text-align:center;
    max-width:700px;
    padding:20px;
}

.youtube-overlay h2{
    font-size:3rem;
    margin-bottom:20px;
}

.youtube-overlay p{
    margin-bottom:25px;
    font-size:1.1rem;
}

.youtube-overlay a{
    display:inline-block;

    background:#6d4cff;
    color:white;

    padding:14px 28px;
    border-radius:10px;

    text-decoration:none;
}
.fb-icon{
    display:inline-block;
}

.fb-icon img{
    width:60px;
    height:60px;
    object-fit:contain;
    transition:.3s;

    border-radius: 50%;
}

.fb-icon img:hover{
    transform:scale(1.15);
}
#hero{
    position:relative;
    overflow:hidden;
}

.video-fondo{
    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:-2;
}

#hero::after{
    content:"";

    position:absolute;
    inset:0;

    background:rgba(10,5,30,.65);

    z-index:-1;
}

.hero-contenido{
    text-align:center;
    max-width:800px;
}



@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    .sobre-contenedor{
        flex-direction:column;
        text-align:center;
    }

    #hero h1{
        font-size:2.5rem;
    }


    .youtube-banner{
        min-height:300px;
    }

    .youtube-overlay h2{
        font-size:2rem;
    }

}
/* meditaciones guiadas*/

.playlist{
    padding:20px 10% 80px;
    text-align:center;
}

.playlist h2{
    margin-bottom:30px;
}

.playlist iframe{
    width:100%;
    max-width:1200px;

    aspect-ratio:16/9;

    height:auto;

    border:none;
    border-radius:20px;

    display:block;
    margin:auto;

    box-shadow:0 0 30px rgba(138,109,255,.3);
}
.pagina-tema{
    padding:100px 10%;
    text-align:center;
}

.pagina-tema h1{
    font-size:4rem;
    margin-bottom:20px;
}

.pagina-tema p{
    max-width:700px;
    margin:0 auto 30px auto;
    line-height:1.8;
    font-size:1.1rem;
    opacity:.9;
    
}
.volver{
    display:inline-block;
    margin:40px auto 0;

    padding:12px 24px;
    background:#6d4cff;
    color:white;
    text-decoration:none;
    border-radius:8px;
    transition:.3s;
}

.volver:hover{
    background:#8a6dff;
    transform:translateY(-3px);
}
.contenedor-volver{
    text-align:center;
    margin-top:40px;
}
.info-meditacion{
    max-width:900px;
    margin:80px auto;
    text-align:center;
}

.info-meditacion h2{
    font-size:2.2rem;
    margin-bottom:30px;
    color:#b69cff;
}

.info-meditacion p{
    margin-bottom:20px;
    line-height:1.8;
    opacity:.9;
}

.beneficios{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.1);
    border-radius:20px;
    padding:40px;
    max-width:900px;
    margin:60px auto;
}

.beneficios ul{
    list-style:none;
}

.beneficios li{
    margin:20px 0;
    font-size:1.1rem;
}
.activo{
    color:#b69cff;
    border-bottom:2px solid #b69cff;
    padding-bottom:5px;
}
.info-tema{
    max-width:900px;
    margin:60px auto;
    text-align:center;
}

.info-tema h2{
    color:#b69cff;
    margin-bottom:30px;
}

.info-tema p{
    line-height:1.8;
    margin-bottom:20px;
}